
:root{
  --primary-color:#2f4454;
  --dark:#bcb3eb;
  --ligth:#da7b93;
  --blue-light:#9483c9;
  --blue-dark:#03074a;


  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;
  

}





body {
  background-image: url(../images/hero-bg.jpg);
  height: 100vh;
    display: flex;

    align-items: center;  
    justify-content: center;
    text-align: center;
    overflow-x: hidden;

  }

  .drop-zone {
    /* background-image: url(../images/hero-bg3.jpg); */
    font-family: var(--ff-barlow);
    background-color: var(--blue-light);
    border: 2px solid var(--blue-dark);
    padding: 20px;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .drop-zone.dragover {
    background-color: var(--dark);
  }
  