<!DOCTYPE html>
<html>
  <head>
    <title>Remove Bg</title>
    <link rel = "stylesheet"  href = "{{ url_for('static',filename = 'css/style.css')}}">
  </head>

  <body>
    <div id="dropZone" class="drop-zone">
      <h1>rmbg</h1>
      <form
        id="uploadForm"
        action="/"
        method="post"
        enctype="multipart/form-data"
      >
        <input id="fileInput" type="file" name="file" />
        <input type="submit" value="remove" />
      </form>
    </div>

    <script type = "text/javascript" src = "{{ url_for('static',filename = 'js/main.js')}}"></script>
  </body>
</html>